
.root{
    --primary-color: #364d6d;
    --secondary-color-numero1:#bfc0c0;
    --secondary-color-numero2:#ffffff;
    --secondary-color-numero3:#fd4f49;
    --secondary-color-numero4:#034160;
    --text-color-1: black white;
}